root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[{*.py,*.yml,*.toml}]
indent_size = 4

[*.sh]
switch_case_indent = true

# Ignore the entire ".venv" directory.
[.venv/**]
ignore = true
